<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiniPals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SampleApp.iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SharedCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5174A311A58D7F800D307B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5174A4A1A58D7F800D307B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5174A5F1A58DD6300D307B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5174A691A58DD6300D307B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5174A891A58DDC500D307B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5174A931A58DDC500D307B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
